p{
    color: #19325C;
    font-size: 27px;
}

a{
    text-decoration: none;
}


  

.homepage{
    background-color: #6A86C3;
}

.homepage a{
    color: #DCEBC2;
}

.homepage a:hover{
    color: #9CC4B8;
}

.custom-img-logo {
    width: 100%;
    max-width: 700px;
    height: auto;
  }
.custom-img-homepage-icon{
    width: 100%;
    max-width: 150px;
    height: auto;
}




.aboutpage{
    background-color: #DCEBC2;
}

.aboutp{
    color: #6A86C3;
}