p{
    color: #19325C;
}

a{
    text-decoration: none;
}

.homepage{
    background-color: #6A86C3;
}

.homepage a{
    color: #DCEBC2;
}

.homepage a:hover{
    color: #9CC4B8;
}

.aboutpage{
    background-color: #DCEBC2;
}

.aboutp{
    color: #6A86C3;
}